*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
} 

:root{
    --main-color: #6C56E1;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --nav-color: #edf2fc;
    --nav-text-color: #6C56E1;
}

.dark-mode{
    --primary-color: #212121;
    --secondary-color: #edf2fc;
    --nav-color: #6C56E1;
    --nav-text-color: #edf2fc;
}

body{
    height: 100vh;
    background: var(--primary-color);
    transition: background 1s;
}

/* -----navbar----- */
nav{
    width: 100%;
    height: 15vh;
    padding: 20px 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

#logo-img{
    height: 40px;
    cursor: pointer;
}

#logo-text{
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    color: var(--nav-text-color);
    transition: color 1s;
}

ul{
    flex: 1;
    text-align: right;
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 10px 20px;    
}

ul li a{
    font-size: 15px;
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 1s;
}

ul li a:hover{
    color: #c0b4cf;
}

#Mode{
    height: 30px;
    width: 80px;
    margin: 10px 20px;
    background: var(--secondary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

#switch{
    height: 26px;
    width: 26px;
    margin: 2px 2px;
    background: var(--primary-color);
    border-radius: 50%;
    transition: transform .5s;
}

.switch-active{
    transform: translateX(50px);
}

#inner-text{
    font-size: 15px;
    right: 10px;
    color: var(--primary-color);
    transition: transform .5s;
    position: absolute;
}

.Inner-text-active{
    transform: translateX(-26px);
}

/* ---main--- */
.main{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.left-column{
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.right-column{
    width: 50%;
    float: right;
    position: relative;
}

/* ---img box--- */
.img-box{
    width: 20%;
    height: 40%;
    top: 130px;
    left: 100px;
    position: absolute;
}

.img-box img{
    bottom: 0;
    left: 0;
    transition: bottom 1s, left 1s;
    position: absolute;
}

.img-box .img-back{
    height: 80%;
    width: auto;
    
}

.img-box .img-main{
    height: 100%;
    width: auto;
    transform: translateX(-18.5%);
}

.img-box:hover .img-back{
    bottom: 30px;
}

.img-box:hover .img-main{
    left: 35%;
}

/* ---content--- */
.content{
    position: absolute;
    top: 170px;
    left: 50px;
    color: var(--secondary-color);
    transition: color 1s;
}

span{
    color: var(--main-color);
}

button{
    color: white;
    text-decoration: none;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    transition: background 1s, color 1s;
}

button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.social-link{
    display: block;
    margin-top: 20px;
    font-size: 30px;
}

.social-link a{
    margin-right: 10px;
    color: var(--main-color);
    transition: color 1s;
}

.social-link a:hover{
    color: var(--secondary-color);
}
